body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange{
 color: orange;
}
.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.card{
    width: 40%;
    box-shadow: 10px 10px 10px rgb(121, 83, 83);
    margin-left:5%;
    margin-right: 5%;
   
    padding-left: 20px;
    border-radius: 5px;
}
#first{
    border-left: 10px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
}
#second{
    border-left: 10px solid;
    border-image:linear-gradient(blue,rgb(71, 181, 255));
    border-image-slice: 1;
}

footer p{
    text-align: center;
}





